.text-centered {
    text-align: center;
}

.indent-main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.elem-centered {
    margin-left: auto;
    margin-right: auto;
}

.width-limit-500 {
    max-width: 500px;
}
